* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 40px;
  }
  .search-input {
    padding: 6px;
    border-radius: 4px;
    border: none;
  }
  .search-input:focus {
    outline-color: #874556;
  }
  .search-button {
    padding: 6px 12px;
    background-color: #874556;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .search-button:hover {
    color: #874556;
    background-color: white;
    border: 0.5px solid #874556;
  }
  .navbar-nav{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;
    justify-content: space-between;
    }
  
  .nav-link {
    padding: 6px 12px;
    text-decoration: none;
    background-color: #874556;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    background-color: #f2f2f2;
    color:#874556;
    border: 0.5px solid #874556;
  }
  
  
  /* styling form */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    border-radius: 10px;
  }
  
  .login-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline-color: #874556;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: #874556;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  .login-button:hover {
    color: #874556;
    background-color: white;
    border: 1px solid #874556;
  }